@import 'styles/variables.scss';

* {
  font-family: 'roboto', sans-serif, monospace;
}

body {
  height: 100svh;
  width: 100svw;
}

p {
  margin: 0;
  padding: 0;
}

h1, img {
  user-select: none;
}

p, h1, h2, h3, h4, h5, span {
  &::-moz-selection { 
    color: #000;
    background: $accent--hover;
  }
  
  &::selection {
    color: #000;
    background: $accent--hover;
  }
}

.text-input {
  height: 2.5rem;
  border-radius: 8px;
  border: 2px solid #dddddd;
  padding-left: 0.5rem;

  &:active, &:focus {
    outline: none;
    border-color: $accent;
  }
}