<div class="app-sidebar">
  <a href="/" class="logo">
    <img src="assets/brand-logo.svg" alt="brand logo" />
  </a>
  <nav class="app-nav">
    <a href="" class="nav-item">
      <fa-icon [icon]="faHome" size="xl" class="sidebar-icon"></fa-icon>
    </a>
    <a href="" class="nav-item">
      <fa-icon [icon]="faUser" size="xl" class="sidebar-icon"></fa-icon>
    </a>
    <a href="" class="nav-item">
      <fa-icon [icon]="faGear" size="xl" class="sidebar-icon"></fa-icon>
    </a>
  </nav>
</div>
