// COLORS
$white: #ffffff;
$black: #0d0214;
$primary: #421083;
$accent: #ffffff;
$mainBackground: #f0f5ff;

// BORDERS
$borderWidthS: 2px;
$borderWidthM: 3px;
$borderColorDark: #141314;
$borderColorLight: #dacde2;
$borderColorAccent: #e48023;

// FONT SIZE
$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;