// COLORS
$white: #ffffff;
$black: #0d0214;
$primary: #220e47; // #350f66;
$accent: #8b60f0;
$accent--hover: #946eee;
$accent-blue: #7b49f0; // #642ce6;
$mainBackground: #f0f5ff;

// BORDERS
$borderRadiusL: 32px;
$borderWhite: #f0f5ff8c;

// FONT SIZE
$fontSizeS: 0.85rem;
$fontSizeM: 1rem;
$fontSizeL: 1.2rem;

$textColor: #797b7e;