<div class="projects-page-container">
  <div class="header">
    <div class="title-input-container">
      <div class="input-wrapper">
        <input
          #titleInput
          type="text"
          [(ngModel)]="project.title" 
          class="title-input"
          (keydown)="handleTitleInputKeydown($event)"
          [disabled]="!isEditTitle" />
      </div>
      <button (click)="setIsEditTitle(true)" class="edit-btn">
        <svg>
          <use xlink:href="assets/icons/edit.svg#edit-svg"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="project-columns-container">
      @for(column of project.columns; track column.id) {
      <app-project-column [column]="column" />
      }
      <button class="add-column-btn">
        <svg>
          <use xlink:href="assets/icons/plus-small.svg#plus-small-svg"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
